body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  min-height: 100vh;
  width: 100%;
  background:
    linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("images/banner.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 6%;
}

nav img {
  width: 200px;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  margin-left: auto;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

@media (max-width: 700px) {
  .menu-icon {
    display: block;
  }
  nav {
    flex-wrap: wrap;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    background: #0a2a66;
    text-align: left;
    padding-top: 60px;
    transition: right 0.3s ease;
    z-index: 1000;
  }

  #menu-toggle:checked ~ .nav-links {
    right: 0;
  }

  .nav-links ul li {
    display: block;
    margin: 20px 0;
  }
}

h1 {
  font-size: 24px;
}

.text-box h1 {
  font-size: 30px;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 52px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid transparent;
  background: #f44336;
  transition: 0.5s;
}

.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin: 5%;
  gap: 30px;
  display: flex;
  justify-content: space-around;
}

.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  cursor: pointer;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col:hover {
  box-shadow: 0 0 20px 0 rgba(221, 4, 4, 0.2);
}

.campus {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img {
  width: 110%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img {
  width: 100%;
  display: block;
}

.facilities-col p {
  padding: 0;
}
.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

.testimonials {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.testimonials-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.testimonials-col img {
  height: 40px;
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 5px;
  width: 40px;
  height: 40px;
}
.testimonials-col p {
  padding: 0;
}
.testimonials-col h3 {
  margin-top: 15px;
  text-align: left;
}
.testimonials-col .fa {
  color: #f44336;
}

.cta {
  margin: 100px auto;
  width: 80%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/banner2.jpg);
  background-position: center;
  background-color: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1 {
  color: #fff;
  padding: 0%;
  margin-bottom: 40px;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-size: 600;
}

.icons .fa {
  color: #f44366;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart-o {
  color: #f44336;
}

.sub-header {
  min-height: 50vh;
  width: 100%;
  background-image:
    linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("images/background.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-header h1 {
  margin: 100;
}

.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col img {
  width: 120%;
}
.about-col h1 {
  padding: 0%;
}
.about-col p {
  padding: 15px 0 25px;
}

.red-btn {
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}

.red-btn:hover {
  color: #fff;
}

.blog-content {
  width: 80%;
  margin: auto;
  padding-top: 60px 0;
}

.blog-left {
  flex-basis: 65%;
}
.blog-left img {
  width: 100%;
}
.blog-left h2 {
  color: #222;
  font-weight: 600;
  margin: 30px 0;
}
.blog-left p {
  color: #999;
  padding: 0;
}

.blog-right {
  flex-basis: 32%;
}

.blog-right h3 {
  background-color: #f44366;
  color: #fff;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 20px;
}

.blog-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 10px;
  box-sizing: border-box;
}

.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 20px;
  background: #fff;
  max-width: 500px;
  width: 100%;
}
.comment-box h3 {
  text-align: left;
}
.comment-box input,
.comment-box textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  background: #fff;
}
.comment-box textarea {
  height: 140px;
}

.comment-form button {
  margin: 10px 0;
  padding: 10px 20px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.location {
  width: 100%;
  margin: auto;
  padding-top: 80px 0;
}

.location iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.comment-box {
  border: 1px solid #ccc;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  max-width: 500px;
  width: 100%;
}

.comment-box h3 {
  text-align: left;
}

.comment-box input,
.comment-box textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;

  border: 1px solid #ddd;
  border-radius: 5px;

  outline: none;
  background: #fff;

  box-shadow: none;
  background-image: none;
}

.comment-box textarea {
  height: 140px;
}

.comment-form button {
  margin: 10px 0;
  padding: 10px 20px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .row {
    flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .course-col,
  .campus-col,
  .facilities-col,
  .testimonials-col {
    width: 100%;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 24px;
  }

  .text-box h1 {
    font-size: 30px;
  }
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}
.open-btn,
.close-btn {
  display: none;
}
@media (max-width: 700px) {
  .open-btn {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }

  .close-btn {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }

  .nav-links {
    position: fixed;
    background: black;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -250px;
    transition: 0.3s;
  }

  #menu-toggle:checked ~ .nav-links {
    right: 0;
  }
}
@media (max-width: 700px) {
  body {
    text-align: center;
  }

  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-box,
  .course,
  .campus,
  .facilities,
  .testimonials,
  .about-us,
  .contact-us,
  .blog-content {
    text-align: center;
    margin: auto;
  }

  .course-col,
  .campus-col,
  .testimonials-col {
    width: 100%;
    margin: 10px auto;
    text-align: center;
  }

  .course-col img,
  .campus-col img,
  .facilities-col img,
  .about-col img,
  .blog-left img {
    margin: 0 auto;
    height: auto;
    width: 90%;
  }
  .testimonials-col img {
    max-width: 90%;
    height: auto;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }

  .text-box h1 {
    font-size: 30px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav img {
    margin: 0 auto;
  }

  .menu-icon {
    display: block;
    font-size: 28px;
    color: white;
    cursor: pointer;
  }

  .nav-links {
    position: fixed;
    background: #0a2a66;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    padding-top: 60px;
    text-align: left;
    transition: right 0.3s ease;
    z-index: 1000;
  }

  #menu-toggle:checked ~ .nav-links {
    right: 0;
  }

  .nav-links ul li {
    display: block;
    margin: 20px 0;
  }
}
